body {
	background-color: #B0BCCD;
}

#header {
	height: 260px;
	color: white;
	background-color: #95ABC8;
	text-align: center;
}

#header h1 {
	font-size: 180px;
	font-family: 'Montserrat', sans-serif;
}

#text-overlay {
	color: white;
	position: absolute;
	top: 400px;
	left: 300px;
	width: 100%;
	margin: 0 auto;
	width: 600px;
	height: 50px;
	font-size: 20px;
}

#overview img{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 1%;
	margin-bottom:1%;
	width: 80%;
	-webkit-filter: blur(2px) drop-shadow(2px 2px 20px black) opacity(0.4);
}

.map-header {
	margin-left: 5%;
	margin-right: 5%;
	height: 50px;
	background-color: #95ABC8;
	text-align: center;
	color: white;
	font-size: 20px;
}
a:link, a:visited{
	color: white;
}

#map-canvas1, #map-canvas2, #map-canvas3 {
  height: 98%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 2%;
  border: 5px solid white;
}

#footer {
	padding-top: 20px;
	height: 100px;
	background-color: #95ABC8;
	text-align: center;
	color: white;
}